<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>No Man's Sky Resource Tracker</title>
	<style>
	[v-cloak] {
		display: none;
	}
	</style>
</head>
<body>
		<h1>No Man's Sky Resource Tracker</h1>
		<table width="100%">
			<tr valign="top">
				<td>

					<h2>Blueprint List</h2>
					<div id="bpList" v-cloak>
						<input type="search" placeholder="Filter" v-model="filter">

						<ul>
							<li v-for="blueprint in filteredBlueprints" @click="addToCart(blueprint.title)">{{ blueprint.title }}</li>
						</ul>
					</div>

				</td>
				<td>

					<h2>Desired Items</h2>
						

				</td>

				<td>
					<h2>Resources Required</h2>
						
				</td>
			</tr>
		</table>

		<script src="https://unpkg.com/vue"></script>
		<script src="app.js"></script>	
</body>
</html>