<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>No Man's Sky Resource Tracker</title>
	<link rel="manifest" href="manifest.json">
	<link rel="stylesheet" href="app.css">
	<style>
	[v-cloak] {
		display: none;
	}
	</style>
</head>
<body>

	<h1>No Man's Sky Resource Tracker</h1>

	<p>
		The Resource Tracker lets you determine the raw materials necessary to craft items. Click on a blueprint to add it to your desired items list. Created by <a href="https://www.raymondcamden.com">Raymond Camden</a> with data from the <a href="https://nomanssky.gamepedia.com/No_Man%27s_Sky_Wiki">No Man's Sky Wiki</a>.
	</p>

	<div id="bpList" v-cloak class="wrapper">

			<div class="one">
			<h2>Blueprint List</h2>
			<input type="search" placeholder="Filter" v-model="filter">

			<ul class="blueprint">
				<li v-for="blueprint in filteredBlueprints" @click="addToCart(blueprint.name)">{{ blueprint.name }}</li>
			</ul>
			</div>
			
			<div class="two">
			<h2>Desired Items</h2>
			<table v-if="items.length" id="itemTable">
				<thead>
				<tr>
					<th>Item</th>
					<th>Qty</th>
					<th>&nbsp;</th>
				</tr>
				</thead>
				<tbody>
				<tr v-for="item in items">
					<td>{{item.name}}</td>
					<td>{{item.qty}}</td>
					<td @click="removeFromCart(item.name)" class="remove">Remove</td>
				</tr>
				</tbody>
			</table>
			</div>
			
			<div class="three">
			<h2>Resources Required</h2>
			<table v-if="neededResources.length">
				<thead>
				<tr>
					<th>Item</th>
					<th>Qty</th>
				</tr>
				</thead>
				<tbody>
				<tr v-for="res in neededResources">
					<td>{{res.name}}</td>
					<td>{{res.qty}}</td>
				</tr>
				</tbody>
			</table>
			</div>
						
	</div>

	<script src="https://unpkg.com/vue"></script>
	<script src="app.js"></script>	

	<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-70863-24', 'auto');
	ga('send', 'pageview');
	</script>
</body>
</html>